*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body{
    background-image: url("../imagenes/elden.jpg");
    background-size: cover;
    background-repeat: no-repeat
}
header{
    display: block;
    border-color:transparent;
    backdrop-filter:blur(5px);
    box-shadow:0 0 10px rgba(0, 0, 0, 2.);
    height: 100vh;
    width:250px;
    border-right: solid 1px grey;
    border-bottom: 50px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
}
.home_link{
    display: block;
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 4px;
    text-decoration: none;
    color: rgb(220, 220, 220);
    transition: color 0.2s ease-in-out;
    margin-left: 52px;
    margin-top: 70px;
    margin-bottom: 150px;
    transition: 0.2s ease-in-out;
}
.other_games{
    margin-left: 52px;
    color: rgb(183, 183, 183);
    text-decoration: none;
    display: block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    transition: 0.2s ease-in-out;
}
.other_games:hover{
    margin-left: 62px;
}
.home_link:hover{
    margin-left: 65px;
}
.right{
    width: 500px;
    height: 100vh;
    float:right;
    margin-right: 150px;
    margin-top: 50px;
}
img{
    width: 350px;
    margin-top: 60px;
    margin-left: 100px;
    animation-name: titulo;
    animation-duration:1.3s;
    display: flex;
    justify-content: right;
    float: right;
}
h1{
    color: rgb(183, 183, 183);
    animation-name: titulo;
    animation-duration:1.3s;
    justify-content: right;
    font-size: 60px;
    margin-top: 30px;
    float:right;
    
}
h3{
    margin-top: 70px;
    color: rgb(183, 183, 183);
    animation-name: titulo;
    animation-duration:1.3s;
    justify-content: right;
    float: right;
}
audio{
    float:right;
    width: 280px;
    animation-name: titulo;
    animation-duration:1.7s;
    margin-top: 130px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 150px;
    margin-bottom: 100px;
}

@keyframes titulo{
	from{margin-right:-200px; opacity:0;}
  	to{}
}
